* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Raleway+Dots&display=swap');

$bgColor: #011627;
$fontColorLight: #DFEFF0;
$fontColorTitles: #D43964;

body {
  background-color: $bgColor;
  font-family: 'Raleway', sans-serif;
}

.allNav {
  display: flex;
}

.main-nav {
  display: none;
  position: fixed;
  z-index: 999;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 6px 10px 6px 10px;
  }

}

.active {
  display: flex;
  margin-top: 55px;
}

.navbar-toggle {
  cursor: pointer;
  display: flex;
  position: fixed;
  margin: 0 auto;
  padding: 5px 8px 5px 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-links {
  color: #D43964;
  font-family: 'Raleway Dots', cursive;
  font-weight: bold;

}

.menu {
  height: 40px;
  width: 35px;
}

  //// First header section

  .header {
    background-image: url("../images/header-bg.jpg");
    background-position: right;
    background-size: cover;
    height: 620px;
    border-top: #F0CB48 solid 2px;
    border-bottom: #F0CB48 solid 2px;
    padding: 0;


    h1 {
      margin-top: 18%;
      text-align: center;
      color: #011627;
    }

    h2 {
      text-align: center;
      color: #011627;
      font-family: 'Raleway Dots', cursive;
    }
  }

.socialContainer {
  text-align: center;
}

.socialIcons {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.socialIcons:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}

  // Second section - about me
  .about-me-container {
    border-bottom: #F0CB48 solid 5px;
    margin-bottom: 15px;

    h2 {
      padding: 20px;
      color: $fontColorTitles;
      font-family: 'Raleway Dots', cursive;
      text-align: center;
    }

    p {
      color: $fontColorLight;
      padding: 2%
    }
  }

  .imgContainer {
    text-align: center;
    padding-bottom: 2%;
  }

  .imgContainer img {
    border-radius: 50%;
    height: 250px;
  }

  //Third section - projects
  .projectContainer {
    color: $fontColorTitles;
    font-family: 'Raleway Dots', cursive;
  }

  .main-title {
    text-align: center;
    padding-bottom: 2%;
  }

  .project1 {
    padding: 0;
  }
  
  .image  {
    height: 250px;
    padding: 0;
    opacity: 1;
    width: 100%;
    transition: .5s ease;
  }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

  .project1:hover .image {
    opacity: 0.3;
  }

  .project1:hover .middle {
    opacity: 1;
  }

  .project2 {
    height: 250px;
    background: url(../images/mosaic-3394375_640.jpg) no-repeat;
  }

  .project3 {
    height: 250px;
    background: url(../images/painting-3135875_640.jpg) no-repeat;
  }

  .project4 {
    height: 250px;
    background: url(../images/peacock-feathers-3013486_640.jpg) no-repeat;
  }

  .project5 {
    height: 250px;
    background: url(../images/painting-3135875_640.jpg) no-repeat;
  }

  .project6 {
    height: 250px;
    background: url(../images/aboutMe.jpg) no-repeat;
  }

  // Fourth section - contact
  .section-2 {
    padding: 20px;
    height: 250px;
    color: $fontColorTitles;
    font-family: 'Raleway Dots', cursive;
  }

  // Footer
  footer {
    color: $fontColorTitles;
    padding: 20px;
    height: 100px;
  }

  .line {
    margin-top: 75px;
    border-bottom: #F0CB48 solid 5px;
  }

